<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="shortcut icon" href="./img/header-footer/favicon.png" type="image/x-icon"/> -->
    <title>Contact</title>
</head>

<body class="font-mulish w-screen overflow-x-hidden">
    <header>
        <div class=" w-full bg-transparent text-primary-1 fixed top-0 z-10  ">
            <div
                class="relative mx-auto w-full py-8 px-4 flex items-center justify-between lg:px-2 xl:max-w-7xl 2xl:px-0">
                <!-- logo -->
                <a href="index.html"><img class=" aspect-4 h-10" src="../img/header-footer/logo.png" alt=""></a>
                <div class="xl:flex gap-[120px]">
                    <!--  icon menu -->
                    <button
                        class=" xl:hidden dropbtn twi-19-menu-fill text-[40px] text-white focus:outline-none"></button>
                    <!-- list item -->
                    <ul
                        class="absolute top-full left-0 w-full dropdown-content hidden h-[screen-104px] text-body-5 bg-white overflow-auto xl:static xl:w-fit xl:flex xl:bg-transparent xl:gap-[72px]">
                        <li class=" border-b-slate-300 border-solid border-b-[1px] px-6 py-4  xl:hidden"><a
                                class=" text-primary-1 hover:bg-slate-300" href="index.html">Trang
                                chủ</a></li>
                        <li class=" border-b-slate-300 border-solid border-b-[1px]  px-6 py-4 xl:border-none"><a
                                class="hover:text-primary-2 xl:p-0 text-primary-1  hover:bg-slate-300"
                                href="about.html">Giới thiệu</a></li>
                        <li class=" border-b-slate-300 border-solid border-b-[1px]  px-6 py-4  xl:border-none"><a
                                class="text-primary-2 xl:p-0  hover:bg-slate-300" href="contact.html">Liên hệ</a></li>
                    </ul>
                    <div
                        class="hidden xl:block w-[285px] h-[58px] rounded-[50px] bg-phone-header  bg-no-repeat bg-cover">
                        <div class="flex items-center gap-4 h-full ml-[6px] cursor-pointer">
                            <div class="twi-19-call-fill text-neutral-1-900 text-[20px] bg-white rounded-full p-[13px]">
                            </div>
                            <div class="text-primary-1 font-normal text-body-5">
                                Hotline: 0123 456 789
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <main>
        <!-- banner hero -->
        <section>
            <div class="w-full pt-[536px] bg-hero bg-cover bg-center bg-no-repeat relative md:pt-[608px] xl:pt-[836px]">
                <div class="bg-hero-transparent absolute bottom-0 z-1 w-full h-[50%] xl:h-[494px]"></div>
                <div class="absolute top-[174px] w-full flex justify-center md:top-[174px] xl:top-[202px]">
                    <div class="font-montserrat text-center text-primary-1 px-[22px]">
                        <div class="text-heading font-semibold">TwinCity Park</div>
                        <div class="mt-6 font-normal text-title-2 opacity-60 md:whitespace-nowrap">The modern
                            buildings
                            of the
                            city
                            skyscrapers</div>
                    </div>
                </div>
            </div>
        </section>
        <section>
            <div class="w-full mx-auto xl:max-w-7xl mt-[54px] md:mt-[111px]">
                <div class="text-primary-1 font-bold text-title-5 text-center">Liên hệ chúng tôi</div>
                <div
                    class="flex flex-col gap-[60px] px-5 pt-14 md:px-4 md:pt-10 xl:flex-row xl:gap-[246px] xl:pt-[60px] lg:px-2 2xl:px-0">
                    <div class="flex flex-col gap-10">
                        <div class=" w-full flex flex-col gap-4 xl:w-[558px]">
                            <span class="text-title-2 font-normal text-primary-1 ">Họ tên</span>
                            <div class="relative">
                                <input type="text"
                                    class="effect-8 border-[1px] border-solid border-neutral-2-300 h-14 w-full p-4 focus:outline-none">
                                <span class="focus-border-input-contact"><i></i></span>
                            </div>
                        </div>
                        <div class="w-full flex flex-col gap-4">
                            <span class="text-title-2 font-normal text-primary-1">Email</span>
                            <div class="relative">
                                <input type="email"
                                    class="effect-8 border-[1px] border-solid border-neutral-2-300 h-14 w-full p-4 focus:outline-none">
                                <span class="focus-border-input-contact"><i></i></span>
                            </div>
                        </div>
                        <div class="w-full flex flex-col gap-4">
                            <span class="text-title-2 font-normal text-primary-1">Số điện thoại</span>
                            <div class="relative">
                                <input type="text"
                                    class="effect-8 border-[1px] border-solid border-neutral-2-300 h-14 w-full p-4 focus:outline-none">
                                <span class="focus-border-input-contact"><i></i></span>
                            </div>
                        </div>
                        <div class="w-full flex flex-col gap-4">
                            <span class="text-title-2 font-normal text-primary-1">Nội dung</span>
                            <div class="relative">
                                <textarea type="text"
                                    class="effect-8 border-[1px] border-solid border-neutral-2-300 h-[200px] w-full resize-none p-4 focus:outline-none"></textarea>

                                <span class="focus-border-input-contact"><i></i></span>
                            </div>

                        </div>
                        <div>
                            <button
                                class="bg-primary-1 py-[15px] px-20 font-semibold text-button -mt-2 text-white hover:bg-primary-2 active:translate-y-[2px]">Gửi</button>
                        </div>
                    </div>
                    <div class="flex flex-col gap-10 md:max-w-[459px]">
                        <div class="flex gap-6">
                            <span class="w-[30px] h-[30px]">
                                <i class="twi-19-call-fill text-neutral-1-600  text-[30px]"></i></span>
                            <div class="font-normal text-title-2 flex flex-col gap-4 w-full">
                                <span class=" text-neutral-1-600">Điện thoại</span>
                                <div class="text-primary-1">+123-456-789</div>
                            </div>
                        </div>
                        <div class="flex gap-6">
                            <span class="w-[30px] h-[30px]">
                                <i class="twi-19-phone-fill text-neutral-1-600 text-[30px]"></i>
                            </span>

                            <div class="font-normal text-title-2 flex flex-col gap-4">
                                <span class=" text-neutral-1-600">Di động</span>
                                <div class="text-primary-1">+123-456-789</div>
                            </div>
                        </div>
                        <div class="flex gap-6">
                            <span class="w-[30px] h-[30px]">
                                <i class="twi-19-print-fill text-neutral-1-600  text-[30px]"></i>
                            </span>
                            <div class="font-normal text-title-2 flex flex-col gap-4">
                                <span class=" text-neutral-1-600">Fax</span>
                                <div class="text-primary-1">+123-456-789</div>
                            </div>
                        </div>
                        <div class="flex gap-6">
                            <span class="w-[30px] h-[30px]">

                                <i class="twi-19-mail-fill text-neutral-1-600 text-[30px]"></i>
                            </span>

                            <div class="font-normal text-title-2 flex flex-col gap-4">
                                <span class=" text-neutral-1-600">Email</span>
                                <div class="text-primary-1">sales@yourwebsite.com</div>
                            </div>
                        </div>
                        <div class="flex gap-6">
                            <span class="w-[30px] h-[30px]">
                                <i class="twi-19-location-fill text-neutral-1-600  text-[30px]"></i>
                            </span>
                            <div class="font-normal text-title-2 flex flex-col gap-4">
                                <span class=" text-neutral-1-600">Địa chỉ</span>
                                <div class="text-primary-1">12 CN1 phường Sơn Kỳ quận Tân Phú</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section>
            <div class="w-full px-5 mt-[76px] md:mt-[60px] md:px-14 xl:mt-20  lg:px-2 2xl:px-0">
                <img src="../img/contact/map.png"
                    class="aspect-374/320 object-cover md:aspect-720/400 xl:aspect-1280/500 xl:max-w-7xl mx-auto w-full"
                    alt="">
            </div>

        </section>
    </main>
    <footer>
        <div class="w-full bg-secondary-1 mt-10 md:mt-[50px] xl:mt-20 lg:px-2 2xl:px-0 ">
            <div
                class="relative w-full mx-auto xl:max-w-7xl pt-[498px] flex justify-items-center md:pt-[360px] xl:pt-[217px]">
                <div
                    class="absolute top-0 left-0 flex flex-col w-full h-full items-center pt-14 gap-[46px] md:w-[515px] md:ml-[18.7%] md:items-start xl:gap-[360px] xl:w-full xl:flex-row xl:items-start xl:ml-0">
                    <div class=" w-40 grid grid-cols-1 gap-6 ">
                        <img src="../img/header-footer/logo-white.png" alt="">
                        <div class="font-normal text-button text-white">An tâm phát triển</div>
                    </div>
                    <div class="flex flex-col gap-11 items-center md:flex-row md:gap-[190px] xl:gap-[360px]">
                        <ul class="grid grid-cols-1 gap-4 md:order-last xl:order-none">
                            <li><a class="font-normal text-button text-white" href="">Giới thiệu</a></li>
                            <li><a class="font-normal text-button text-white" href="">Tiện ích</a></li>
                            <li><a class="font-normal text-button text-white" href="">Đăng ký</a></li>
                        </ul>
                        <ul class=" grid grid-cols-1 gap-4 text-center md:text-left">
                            <li><a class="font-normal text-button text-white" href="">12 CN1, Sơn kỳ, Tân Phú,
                                    TP.HCM</a>
                            </li>
                            <li><a class="font-normal text-button text-white" href="">032 2323 568</a></li>
                            <li><a class="font-normal text-button text-white" href="">contact@tcons.com</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</body>

</html>