<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
</head>

<body class="font-mulish">
    <header>
        <div class="w-full bg-transparent text-primary-1  fixed top-0 z-10 h-full ">
            <div class="xl:max-w-7xl mx-auto w-full h-full">
                <div class="py-8  w-full h-full">
                    <!-- logo -->
                    <div class="flex float-left h-fit px-4">
                        <a href="index.html" class="flex"><img src="../img/header-footer/logo.png" alt=""></a>
                    </div>
                    <div class=" xl:hidden">
                        <!--  icon menu -->
                        <button
                            class="dropbtn twi-19-menu-fill float-right text-[40px] leading-[40px] text-white px-4 focus:outline-none"></button>
                        <!-- list item -->
                        <ul class="dropdown-content hidden w-full h-full pt-5 bg-white overflow-auto ">
                            <a class="text-primary-2 px-6 py-4 block hover:bg-slate-300 border-b-slate-300 border-solid border-b-[1px]"
                                href="index.html">Trang chủ</a>
                            <a class="text-primary-1 px-6 py-4 block hover:bg-slate-300 border-b-slate-300 border-solid border-b-[1px]"
                                href="about.html">Giới thiệu</a>
                            <a class="text-primary-1 px-6 py-4 block hover:bg-slate-300 border-b-slate-300 border-solid border-b-[1px]"
                                href="contact.html">Liên hệ</a>
                        </ul>
                    </div>
                    <!-- menu desktop -->
                    <div class="hidden xl:flex gap-[120px] items-center  font-normal text-body-5 float-right mr-4">
                        <ul class="flex gap-[72px]">
                            <li><a class="hover:text-primary-2 text-primary-1" href="about.html">Giới thiệu</a></li>
                            <li><a class="text-primary-1 hover:text-primary-2" href="contact.html">Liên hệ</a></li>
                        </ul>
                        <div class="w-[285px]  h-[58px] rounded-[50px] bg-phone-header  bg-no-repeat bg-cover">
                            <div class="flex items-center gap-4 h-full ml-[6px] cursor-pointer">
                                <div
                                    class="twi-19-call-fill text-neutral-1-900 text-[20px] bg-white rounded-full p-[13px]">
                                </div>
                                <div class="text-primary-1 font-normal text-body-5">
                                    Hotline: 0123 456 789
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <main>
        <!-- banner hero -->
        <section>
            <div class="w-full pt-[536px] bg-hero bg-cover bg-center bg-no-repeat relative md:pt-[608px] xl:pt-[836px]">
                <div class="bg-hero-transparent absolute bottom-0 z-1 w-full h-[50%] xl:h-[494px]"></div>
                <div class="absolute top-[174px] w-full flex justify-center md:top-[174px] xl:top-[202px]">
                    <div class="font-montserrat text-center text-primary-1 px-[22px]">
                        <div class="text-heading font-semibold">TwinCity Park</div>
                        <div class="mt-6 font-normal text-title-2 opacity-60 md:whitespace-nowrap">The modern
                            buildings
                            of the
                            city
                            skyscrapers</div>
                    </div>
                </div>

                <!-- Form thong tin -->
                <div
                    class="w-full mx-auto  absolute top-[400px] left-0  md:top-[462px] xl:top-[600px] lg:px-2 2xl:px-0">
                    <div class="bg-white py-8 shadow-form-shadow mx-[4.83%] md:mx-[1.92%] xl:max-w-7xl xl:mx-auto ">
                        <div
                            class="grid grid-cols-1 gap-7 px-9 md:grid-cols-2 md:gap-x-16 md:gap-y-8 md:px-16 xl:grid-cols-4 xl:gap-12 xl:px-28 ">
                            <div class="w-full border-b-2 border-neutral-3-300">
                                <div class="text-body-1 text-neutral-400 uppercase">Họ tên</div>
                                <input
                                    class=" font-normal text-neutral-1-900 text-button  pb-2 mt-4 w-full focus:outline-none"
                                    value="Nguyen binh">
                            </div>
                            <div class="w-full border-b-2 border-neutral-3-300">
                                <div class="text-body-1 text-neutral-400 uppercase">email</div>
                                <input
                                    class=" font-normal text-neutral-1-900 text-button  pb-2 mt-4 w-full focus:outline-none"
                                    value="Example@gmail.com">
                            </div>
                            <div class="w-full border-b-2 border-neutral-3-300">
                                <div class="text-body-1 text-neutral-400 uppercase">số điện thoại</div>
                                <input
                                    class=" font-normal text-neutral-1-900 text-button  pb-2 mt-4 w-full focus:outline-none "
                                    value="0123456789">
                            </div>
                            <div class="flex items-center w-[68.54%] md:w-[100%]">
                                <button
                                    class=" text-button-1 text-white bg-primary-1  h-[55px] px-[26.08%] whitespace-nowrap md:px-[33.77%] xl:px-[26.07%] hover:bg-primary-2 active:translate-y-[2px]">Gửi
                                    yêu cầu</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </div>
        </section>
        <!--  introduce video -->
        <section>
            <div class="mt-[332px] md:mt-[152px] md:px-4 xl:mt-[78px] xl:px-[109px]">
                <div class="w-full mx-auto xl:max-w-7xl">
                    <div class=" relative aspect-414/403 w-full h-full md:aspect-1062/628">
                        <img class="absolute top-0 left-0 w-full h-full object-cover  md:object-contain xl:object-cover"
                            src="../img/introduce/introduce-video.png" alt="">
                        <div class="bg-primary-1 bg-opacity-20  h-full absolute top-0 md:hidden xl:block"></div>
                        <div class=" absolute top-0 left-0 w-full h-full flex justify-center items-center">
                            <!-- Thêm rounded-full để cursor-pointer chỉ nằm trong hình tròn -->
                            <img class="cursor-pointer h-[77px] w-[77px] rounded-full"
                                src="../img/introduce/play-btn.png" alt="">
                        </div>
                    </div>
                </div>
                <div
                    class="flex flex-col justify-center gap-10 mt-10 mx-auto w-[288px] md:w-[254px] xl:flex-row xl:gap-40 xl:w-full xl:mt-14  whitespace-nowrap xl:mx-0">
                    <div class="flex gap-x-6 items-center xl:gap-x-[30px]">
                        <div class="bg-ellipse-3 w-[100px] h-[100px]  rounded-full flex justify-center items-center ">
                            <div
                                class="twi-19-house-line text-primary-2 text-[41px]  bg-primary-4 w-[84px] h-[84px] rounded-full  flex justify-center items-center ">
                            </div>
                        </div>
                        <div class="flex flex-col flex-nowrap">
                            <div class="font-normal text-body-4 text-primary-1">Tổng số căn
                            </div>
                            <div class="font-bold text-title-3 text-neutral-1-900 ">2482 căn</div>
                        </div>
                    </div>
                    <div class="flex items-center gap-x-6 xl:gap-x-[30px]">
                        <div class="bg-ellipse-3 w-[100px] h-[100px]  rounded-full flex justify-center items-center ">
                            <div
                                class="twi-19-tree-line text-primary-2 text-[41px]  bg-primary-4 w-[84px] h-[84px] rounded-full  flex justify-center items-center ">
                            </div>
                        </div>
                        <div class="flex flex-col flex-nowrap">
                            <div class="font-normal text-body-4 text-primary-1  ">Tiện ích nội khu
                            </div>
                            <div class="font-bold text-title-3 text-neutral-1-900">77%</div>
                        </div>
                    </div>
                    <div class="flex items-center gap-x-6 xl:gap-x-[30px]">
                        <div class="bg-ellipse-3 w-[100px] h-[100px]  rounded-full flex justify-center items-center ">
                            <div
                                class="twi-19-building-line text-primary-2 text-[41px]  bg-primary-4 w-[84px] h-[84px] rounded-full  flex justify-center items-center ">
                            </div>
                        </div>
                        <div class="flex flex-col flex-nowrap">
                            <div class="font-normal text-body-4 text-primary-1">Tổng số block
                            </div>
                            <div class="font-bold text-title-3 text-neutral-1-900">6 block</div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- banner 2 -->
        <section>
            <div
                class="w-full mx-auto  mt-20 bg-banner-2 bg-cover bg-center bg-no-repeat relative pt-[452px] md:pt-[443px] xl:mt-[86px] xl:pt-[452px] lg:px-2 2xl:px-0">
                <div class="bg-banner-2-transparent absolute top-0 left-0 w-full h-full"></div>
                <div class="flex items-center w-full h-full xl:max-w-7xl">
                    <div class="w-full  absolute top-0 left-0">
                        <div
                            class="w-[374px] mx-auto my-14 md:my-16 md:w-[392px] md:mr-5 xl:w-[624px] xl:ml-[50.85%] xl:mr-0">
                            <div class="text-primary-2 text-title-5 font-bold "> TwinCity Park
                                <span class="text-primary-1 "> - Căn hộ sang trọng, tiện ích đẳng
                                    cấp
                                </span>
                            </div>
                            <div class="font-normal text-body-2 text-secondary-2 mt-6 mb-14 md:mb-8 ">
                                Dự án căn hộ <span class="font-bold">TwinCity Park</span> sở hữu tổng diện tích
                                86.000
                                m². Mật độ
                                xây dựng chỉ chiếm
                                khoảng 23% trên tổng diện tích</div>
                            <button
                                class="w-36 text-center text-button font-semibold bg-primary-1 text-white py-3 hover:bg-primary-2  active:translate-y-[2px]">Nhận
                                tư
                                vấn</button>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- section review -->
        <section>
            <div class="w-full mx-auto xl:max-w-7xl">
                <div class="text-center mt-20 mx-5 mb-10 md:mx-14 xl:mx-60 xl:mb-14 ">
                    <div class="font-bold text-primary-1 text-title-5 mx-10 mb-4 md:mx-auto">Lý do chọn mua căn hộ
                        <span class="text-primary-2"> Twincity Park</span>
                    </div>
                    <p class="text-button text-secondary-2">Dự án có quy mô lớn nhất Quận 12 hiện nay,
                        kèm theo nhiều tiện ích vượt trội,<span class="font-bold"> Twincity Park</span>
                        là căn hộ xứng tầm để bạn an cư lạc nghiệp hoặc đầu tư sinh lợi.
                    </p>
                </div>
                <div
                    class="grid grid-cols-1 gap-7 w-[83.57%] mx-auto md:w-[86.57%] md:grid-cols-2 md:gap-10 xl:w-full xl:grid-cols-3 lg:px-2 2xl:px-0">
                    <div class="relative h-[462px] w-full md:h-[454px] xl:h-[533px] cursor-pointer">
                        <img class="object-cover h-full w-full" src="../img/section-review/noi-that-sang-trong.png"
                            alt="">
                        <div class="absolute bottom-0 h-1/2 w-full bg-review-transparent"></div>
                        <div
                            class="absolute bottom-10 left-10 h-[94px] max-w-[191px] break-words font-bold text-title-4 text-white md:left-[34px] xl:left-10 xl:max-w-[191px] ">
                            Nội thất sang trọng</div>
                    </div>

                    <div class="relative h-[462px] w-full md:h-[454px] xl:h-[533px] cursor-pointer">
                        <img class="object-cover h-full w-full" src="../img/section-review/da-dang-can-ho.png" alt="">
                        <div class="absolute bottom-0 h-1/2 w-full bg-review-transparent"></div>
                        <div
                            class="absolute bottom-10 left-10 h-[94px] max-w-[191px] break-words font-bold text-title-4 text-white md:left-[34px] xl:left-10 xl:max-w-[221px] ">
                            Đa dạng loại căn hộ</div>
                    </div>
                    <div class="relative h-[462px] w-full md:h-[454px] xl:h-[533px] cursor-pointer">
                        <img class="object-cover  h-full w-full " src="../img/section-review/cong-vien-noi-khu.png"
                            alt="">
                        <div class="absolute bottom-0 h-1/2 w-full bg-review-transparent"></div>
                        <div
                            class="absolute bottom-10 left-10 h-[94px] max-w-[191px] break-words font-bold text-title-4 text-white md:left-[34px] xl:left-10 xl:max-w-[221px] ">
                            Công viên nội khu</div>
                    </div>
                    <div class="relative h-[462px] w-full md:h-[454px] xl:h-[533px] cursor-pointer">
                        <img class="object-cover h-full w-full " src="../img/section-review/khu-vui-choi-tre-em.png"
                            alt="">
                        <div class="absolute bottom-0 h-1/2 w-full bg-review-transparent"></div>
                        <div
                            class="absolute bottom-10 left-10 h-[94px] max-w-[191px] break-words font-bold text-title-4 text-white md:left-[34px] xl:left-10 xl:max-w-[221px] ">
                            Khu vui chơi trẻ em</div>
                    </div>
                    <div class="relative h-[462px] w-full md:h-[454px] xl:h-[533px] cursor-pointer">
                        <img class="object-cover h-full w-full" src="../img/section-review/phong-tap-the-thao.png"
                            alt="">
                        <div class="absolute bottom-0 h-1/2 w-full bg-review-transparent"></div>
                        <div
                            class="absolute bottom-10 left-10 h-[94px] max-w-[191px] break-words font-bold text-title-4 text-white md:left-[34px] xl:left-10 xl:max-w-[221px] ">
                            Phòng tập thể thao</div>
                    </div>
                    <div class="relative h-[462px] w-full md:h-[454px] xl:h-[533px] cursor-pointer">
                        <img class="object-cover h-full w-full "
                            src="../img/section-review/phong-sinh-hoat-cong-dong.png" alt="">
                        <div class="absolute bottom-0 h-1/2 w-full bg-review-transparent"></div>
                        <div
                            class="absolute bottom-10 left-10 h-[94px] max-w-[258px] break-words font-bold text-title-4 text-white md:left-[34px] xl:left-10 xl:max-w-[299px] ">
                            Phòng sinh hoạt cộng đồng</div>
                    </div>
                </div>
            </div>
        </section>
        <!-- banner 3 -->
        <section>
            <div class="w-full  bg-banner-3  bg-cover bg-center bg-no-repeat relative  ">
                <div class="bg-banner-3-transparent absolute top-0 "></div>
                <div
                    class="w-full mx-auto xl:max-w-7xl relative pt-[480px] mt-12 md:mt-20 xl:pt-[641px] lg:px-2 2xl:px-0">
                    <div
                        class="absolute top-0 left-0 bg-white mx-5 mt-20 md:max-w-[498px] md:max-h-[321px] md:mx-11 xl:my-40 xl:ml-2 lg:mx-2 2xl:px-0">
                        <div class="px-6 py-7 md:px-11">
                            <div class="text-title-3 text-primary-1 font-bold">Căn hộ<span class="text-primary-3">
                                    2 phòng ngủ</span>
                            </div>
                            <p class="font-normal text-button text-secondary-2 mt-4 mb-6 md:mr-[52px]">Sit donec
                                molestie
                                ultrices
                                integer mollis
                                diam
                                viverra volutpat mollis. Senectus facilisi et sed lectus et euismod.</p>
                            <div class="flex flex-wrap justify-between gap-y-4">
                                <div class="flex items-center gap-x-2">
                                    <img src="../img/banner-3/icon-acreage.png" alt="">
                                    <span class="text-primary-1 text-body-2 font-semibold ">200 m2</span>
                                </div>
                                <div class="flex items-center gap-x-2">
                                    <img src="../img/banner-3/icon-bedroom.png" alt="">
                                    <span class="text-primary-1 text-body-2 font-semibold ">2 Phòng ngủ</span>
                                </div>
                                <div class="flex items-center gap-x-2">
                                    <img src="../img/banner-3/icon-bathroom.png" alt="">
                                    <span class="text-primary-1 text-body-2 font-semibold">2 Phòng tắm</span>
                                </div>
                            </div>
                            <div class="h-fit w-full flex justify-end">
                                <button
                                    class="text-white text-center font-semibold text-button-1 bg-primary-1  px-5 py-[10px] mt-12 hover:bg-primary-2  active:translate-y-[2px]">Nhận
                                    tư vấn</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <footer>
        <div class="w-full bg-secondary-1 mt-5 md:mt-0 lg:px-2 2xl:px-0 ">
            <div
                class="relative w-full mx-auto xl:max-w-7xl pt-[498px] flex justify-items-center md:pt-[360px] xl:pt-[217px]">
                <div
                    class="absolute top-0 left-0 flex flex-col w-full h-full items-center pt-14 gap-[46px] md:w-[515px] md:ml-[18.7%] md:items-start xl:gap-[360px] xl:w-full xl:flex-row xl:items-start xl:ml-0">
                    <div class=" w-40  grid grid-cols-1 gap-6 ">
                        <a class="" href="index.html"><img src="../img/header-footer/logo-white.png" alt=""></a>
                        <span class="font-normal text-button text-white">An tâm phát triển</span>
                    </div>
                    <div class="flex flex-col gap-11 items-center md:flex-row md:gap-[190px] xl:gap-[360px]">
                        <ul class="grid grid-cols-1 gap-4 md:order-last xl:order-none">
                            <li><a class="font-normal text-button text-white hover:text-primary-3"
                                    href="about.html">Giới
                                    thiệu</a></li>
                            <li><a class="font-normal text-button text-white hover:text-primary-3" href="#">Tiện ích</a>
                            </li>
                            <li><a class="font-normal text-button text-white hover:text-primary-3" href="#">Đăng ký</a>
                            </li>
                        </ul>
                        <ul class=" grid grid-cols-1 gap-4 text-center md:text-left">
                            <li><a class="font-normal text-button text-white hover:text-primary-3" href="#">12 CN1, Sơn
                                    kỳ, Tân Phú,
                                    TP.HCM</a>
                            </li>
                            <li><a class="font-normal text-button text-white hover:text-primary-3" href="#">032 2323
                                    568</a></li>
                            <li><a class="font-normal text-button text-white hover:text-primary-3"
                                    href="#">contact@tcons.com</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>

</body>



</html>