<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
</head>

<body class="font-mulish">
    <header>
        <div class="w-full bg-transparent text-primary-1 absolute top-0 z-10 ">
            <div class="xl:max-w-7xl mx-auto w-full">
                <div class="py-8 px-4">
                    <div class="flex justify-between items-center">
                        <!-- logo -->
                        <div class="flex">
                            <a href="index.html" class="flex"><img src="../img/header-footer/logo.png" alt=""></a>
                        </div>
                        <!-- icon -->
                        <div class="flex items-center xl:hidden">
                            <span class="flex items-center">
                                <i class="twi-19-menu-fill text-[40px] leading-[40px] text-white"></i>
                            </span>
                        </div>
                        <!-- menu desktop -->
                        <div class="hidden xl:flex font-normal text-body-1 gap-10 items-center">
                            <ul class="flex gap-8">
                                <li><a href="">Giới thiệu</a></li>
                                <li><a href="">Liên hệ</a></li>
                            </ul>
                            <div class="flex w-[260px] h-14 rounded-2xl">
                                <div
                                    class="relative justify-center items-center bg-phone-num w-full bg-no-repeat bg-contain">
                                    <div class="flex justify-center items-center gap-4 absolute top-1 left-1">
                                        <img src="../img/header-footer/phone.png">
                                        <div class=" ">
                                            Hotline: 0123 456 789
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <main>
        <!-- banner hero -->
        <section>
            <div
                class="w-full pt-[129.46%]  bg-hero bg-cover bg-center bg-no-repeat relative md:pt-[72.94%] xl:pt-[43.54%]">
                <div class="bg-hero-tranparent absolute bottom-0 z-10  w-full h-full">
                    <div
                        class="mt-[42.03%] mx-[5.31%] md:mt-[20.86%] md:w-[536px] md:h-[114px] md:mx-auto xl:mt-[10.52%] ">
                        <div class="font-montserrat text-center text-primary-1">
                            <div class="text-heading font-semibold">TwinCity Park</div>
                            <div class="mt-6 font-normal text-title-2 opacity-60 md:whitespace-nowrap">The modern
                                buildings
                                of the
                                city
                                skyscrapers</div>
                        </div>
                    </div>
                </div>
                <!-- Form thong tin -->
                <div
                    class="w-full mx-auto  absolute top-[400px] left-0  md:top-[462px] xl:top-[400px] lg:px-2 2xl:px-0">
                    <div class="bg-white py-8 shadow-form-shadow mx-[4.83%] md:mx-[1.92%] xl:max-w-7xl xl:mx-auto ">
                        <div
                            class="grid grid-cols-1 gap-7 px-9 md:grid-cols-2 md:gap-x-16 md:gap-y-8 md:px-[7.98%] xl:grid-cols-4 xl:gap-[4.55%] xl:px-[8.75%] ">
                            <div class="w-full border-b-2 border-neutral-3-300">
                                <div class="text-body-1 text-neutral-400 uppercase">Họ tên</div>
                                <div class="capitalize font-normal text-neutral-1-900 text-button  pb-2 mt-4">
                                    Nguyen binh
                                </div>
                            </div>
                            <div class="w-full border-b-2 border-neutral-3-300">
                                <div class="text-body-1 text-neutral-400 uppercase">email</div>
                                <div class=" font-normal text-neutral-1-900 text-button  pb-2 mt-4">
                                    Example@gmail.com
                                </div>
                            </div>
                            <div class="w-full border-b-2 border-neutral-3-300">
                                <div class="text-body-1 text-neutral-400 uppercase">số điện thoại</div>
                                <div class=" font-normal text-neutral-1-900 text-button  pb-2 mt-4">
                                    0123456789
                                </div>
                            </div>
                            <div class="flex items-center w-[68.54%] md:w-[100%]">
                                <button
                                    class=" text-button-1 text-white bg-primary-1  h-[55px] px-[26.08%] md:px-[33.77%] xl:px-[26.07%]">Gửi
                                    yêu
                                    cầu</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </div>
        </section>
        <!--  introduce video -->
        <section>

            <div class="w-full mx-auto xl:max-w-7xl px-0 lg:px-2 2xl:px-0">
                <div class="mt-[80.19%] md:mt-[20.22%]  xl:mt-[4.17%] xl:mx-[8.51%]">
                    <div class=" relative pt-[97.34%] md:pt-[47.96%] xl:pt-[49.06%] ">
                        <img class="absolute w-full h-full top-0 left-0 object-cover md:object-contain  xl:object-cover"
                            src="../img/introduce/introduce-video.png" alt="">
                        <img class="absolute top-[39.37%] left-[40.7%] md:top-[40.25%] md:left-[45.01%] xl:top-[43.94%] xl:left-[46.23%]"
                            src="../img/introduce/play-btn.png" alt="">
                        <div class="bg-primary-1 bg-opacity-20 w-full h-full absolute top-0 md:hidden"></div>
                    </div>
                </div>
                <div
                    class="grid grid-cols-1 gap-10 mt-10 px-[15.22%] md:px-[34.77%] xl:grid-cols-3 xl:gap-40 xl:px-[8.51%]">
                    <div class="flex items-center gap-x-8">
                        <img src="../img/introduce/house.png" alt="">
                        <div class="flex flex-col">
                            <div class="font-normal text-body-4 text-primary-1">Tổng số căn
                            </div>
                            <div class="font-bold text-title-3 text-neutral-1-900 whitespace-nowrap">2482 căn</div>
                        </div>
                    </div>
                    <div class="flex items-center gap-x-8">
                        <img src="../img/introduce/tree.png" alt="">
                        <div class="flex flex-col">
                            <div class="font-normal text-body-4 text-primary-1">Tiện ích nội khu
                            </div>
                            <div class="font-bold text-title-3 text-neutral-1-900">77%</div>
                        </div>
                    </div>
                    <div class="flex items-center gap-x-8">
                        <img src="../img/introduce/building.png" alt="">
                        <div class="flex flex-col">
                            <div class="font-normal text-body-4 text-primary-1">Tổng số block
                            </div>
                            <div class="font-bold text-title-3 text-neutral-1-900">6 block</div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- banner 2 -->
        <section>
            <div
                class="w-full mt-20 bg-banner-2 bg-cover bg-center bg-no-repeat relative pt-[109.18%] md:pt-[53.12%] xl:pt-[35.31%] lg:px-2 2xl:px-0">
                <div class="bg-banner-2-transparent absolute top-0 w-full h-full"></div>
                <div class="w-full mx-auto xl:max-w-7xl absolute top-0">
                    <div
                        class=" mx-[4.83%] my-[13.53%] md:my-[7.67%] md:ml-[50.48%] md:mr-[1.92%] xl:mt-[6.81%] xl:ml-[51.29%] xl:mr-0 ">
                        <div class="text-primary-2 text-title-5 font-bold "> TwinCity Park
                            <span class="text-primary-1 "> - Căn hộ sang trọng, tiện ích đẳng
                                cấp
                            </span>
                        </div>
                        <div class="font-normal text-body-2 text-secondary-2 mt-6 mb-14 md:mb-8 ">
                            Dự án căn hộ <span class="font-bold">TwinCity Park</span> sở hữu tổng diện tích 86.000
                            m². Mật độ
                            xây dựng chỉ chiếm
                            khoảng 23% trên tổng diện tích</div>
                        <button class="text-center bg-primary-1 text-white px-5 py-3">Nhận tư vấn</button>
                    </div>
                </div>
            </div>
        </section>
        <!-- section review -->
        <section>
            <div class="w-full mx-auto xl:max-w-7xl">
                <div class="text-center mt-20 mx-[4.83%] mb-10 md:mx-[6.71%] xl:mx-[18.83%] xl:mb-14 ">
                    <div class="font-bold text-primary-1 text-title-5 mx-[9.42%] mb-4 md:mx-auto">Lý do chọn mua căn hộ
                        <span class="text-primary-2"> Twincity Park</span>
                    </div>
                    <p class="text-button text-secondary-2">Dự án có quy mô lớn nhất Quận 12 hiện nay,
                        kèm theo nhiều tiện ích vượt trội,<span class="font-bold"> Twincity Park</span>
                        là căn hộ xứng tầm để bạn an cư lạc nghiệp hoặc đầu tư sinh lợi.
                    </p>
                </div>
                <div
                    class="grid grid-cols-1 gap-7 w-[83.57%] mx-auto md:w-[86.57%] md:grid-cols-2 md:gap-10 xl:w-full xl:grid-cols-3 lg:px-2 2xl:px-0">
                    <div class="relative h-full w-full">
                        <img class="object-cover w-full" src="../img/section-review/noi-that-sang-trong.png" alt="">
                        <div class="absolute bottom-0 h-1/2 w-full bg-review-transparent"></div>
                        <div class="absolute bottom-10 left-10 right-[116px] font-semibold text-title-4 text-white">
                            Nội thất sang trọng</div>
                    </div>
                    <div class="relative h-full w-full">
                        <img class="object-cover w-full" src="../img/section-review/da-dang-can-ho.png" alt="">
                        <div class="absolute bottom-0 h-1/2 w-full bg-review-transparent"></div>
                        <div class="absolute bottom-10 left-10 right-[116px] font-semibold text-title-4 text-white">
                            Đa dạng loại căn hộ</div>
                    </div>
                    <div class="relative h-full w-full">
                        <img class="object-cover w-full" src="../img/section-review/cong-vien-noi-khu.png" alt="">
                        <div class="absolute bottom-0 h-1/2 w-full bg-review-transparent"></div>
                        <div class="absolute bottom-10 left-10 right-[116px] font-semibold text-title-4 text-white">
                            Công viên nội khu</div>
                    </div>
                    <div class="relative h-full w-full">
                        <img class="object-cover w-full" src="../img/section-review/khu-vui-choi-tre-em.png" alt="">
                        <div class="absolute bottom-0 h-1/2 w-full bg-review-transparent"></div>
                        <div class="absolute bottom-10 left-10 right-[116px] font-semibold text-title-4 text-white">
                            Khu vui chơi trẻ em</div>
                    </div>
                    <div class="relative h-full w-full">
                        <img class="object-cover w-full" src="../img/section-review/phong-tap-the-thao.png" alt="">
                        <div class="absolute bottom-0 h-1/2 w-full bg-review-transparent"></div>
                        <div class="absolute bottom-10 left-10 right-[116px] font-semibold text-title-4 text-white">
                            Phòng tập thể thao</div>
                    </div>
                    <div class="relative h-full w-full">
                        <img class="object-cover w-full" src="../img/section-review/phong-sinh-hoat-cong-dong.png"
                            alt="">
                        <div class="absolute bottom-0 h-1/2 w-full bg-review-transparent"></div>
                        <div class="absolute bottom-10 left-10 right-[116px] font-semibold text-title-4 text-white">
                            Phòng sinh hoạt cộng đồng</div>
                    </div>
                </div>
            </div>
        </section>
        <!-- banner 3 -->
        <section>
            <div class="w-full  bg-banner-3  bg-cover bg-center bg-no-repeat relative mt-5 md:mt-0 lg:px-2 2xl:px-0">
                <div class="bg-banner-3-transparent absolute top-0 w-full h-full"></div>
                <div
                    class="w-full mx-auto xl:max-w-7xl relative pt-[115.94%] mt-12 md:pt-[57.67%] xl:pt-[33.39%] xl:mt-[4.16%] ">
                    <div
                        class="absolute top-0 left-0 bg-white mx-[4.83%] mt-[19.32%] md:max-w-[498px] md:max-h-[321px] md:my-[9.59%] md:ml-[6.71%] xl:my-[4.14%] xl:ml-0">
                        <div class="px-6 py-7 md:px-11 ">
                            <div class="text-title-3 text-primary-1 font-bold">Căn hộ<span class="text-primary-3">
                                    2 phòng ngủ</span>
                            </div>
                            <p class="font-normal text-button text-secondary-2 mt-4 mb-6 md:mr-[52px]">Sit donec
                                molestie
                                ultrices
                                integer mollis
                                diam
                                viverra volutpat mollis. Senectus facilisi et sed lectus et euismod.</p>
                            <div class="flex flex-wrap justify-between gap-y-4">
                                <div class="flex items-center gap-x-2">
                                    <img src="../img/banner-3/icon-acreage.png" alt="">
                                    <span class="text-primary-1 text-body-2 font-semibold ">200 m2</span>
                                </div>
                                <div class="flex items-center gap-x-2">
                                    <img src="../img/banner-3/icon-bedroom.png" alt="">
                                    <span class="text-primary-1 text-body-2 font-semibold ">2 Phòng ngủ</span>
                                </div>
                                <div class="flex items-center gap-x-2">
                                    <img src="../img/banner-3/icon-bathroom.png" alt="">
                                    <span class="text-primary-1 text-body-2 font-semibold">2 Phòng tắm</span>
                                </div>
                            </div>
                            <div class="h-fit w-full flex justify-end">
                                <button
                                    class="text-white text-center font-semibold text-button-1 bg-primary-1  px-5 py-[10px] mt-12 ">Nhận
                                    tư vấn</button>
                            </div>
                        </div>
                    </div>
                </div>
        </section>
    </main>
    <footer>
        <div class="w-full bg-secondary-1 mt-5 md:mt-0 lg:px-2 2xl:px-0">
            <div
                class="relative mx-auto xl:max-w-7xl pt-[120.29%] flex justify-items-center md:pt-[43.17%] xl:pt-[16.95%]">
                <div
                    class="absolute top-[11.65%] left-[33.57%] w-40 h-10 grid grid-cols-1 gap-6 md:top-[16.11%] md:left-[18.71%] xl:top-[24.88%] xl:left-0">
                    <img src="../img/header-footer/logo-white.png" alt="">
                    <div class="font-normal text-button text-white">An tâm phát triển</div>
                </div>
                <ul
                    class="absolute top-[38.55%] left-[40.1%] grid grid-cols-1 gap-4 md:top-[55.83%] md:left-[72.06%] xl:top-[24.88%] xl:left-[42.73%]">
                    <li><a class="font-normal text-button text-white" href="">Giới thiệu</a></li>
                    <li><a class="font-normal text-button text-white" href="">Tiện ích</a></li>
                    <li><a class="font-normal text-button text-white" href="">Đăng ký</a></li>
                </ul>
                <ul
                    class="absolute top-[68.07%] left-[17.15%] grid grid-cols-1 gap-4 text-center md:top-[55.83%] md:left-[18.71%] md:text-left xl:top-[24.88%] xl:left-[76.88%]">
                    <li><a class="font-normal text-button text-white" href="">12 CN1, Sơn kỳ, Tân Phú, TP.HCM</a></li>
                    <li><a class="font-normal text-button text-white" href="">032 2323 568</a></li>
                    <li><a class="font-normal text-button text-white" href="">contact@tcons.com</a></li>
                </ul>
            </div>
        </div>
    </footer>

</body>

</html>