@tailwind base;
@tailwind components;
@tailwind utilities;

@import '../fonts/montserrat/style.css';
@import '../fonts/mulish/style.css';
@import '../fonts/font-icon/style.css';

@layer utilities {
    @variants responsive {

        /* Hide scrollbar for Chrome, Safari and Opera */
        .no-scrollbar::-webkit-scrollbar {
            display: none;
        }

        /* Hide scrollbar for IE, Edge and Firefox */
        .no-scrollbar {
            -ms-overflow-style: none;
            /* IE and Edge */
            scrollbar-width: none;
            /* Firefox */
        }
    }
}

.show {
    display: block;
}


.slider-kinh-nghiem-lam-viec {
    .bg-neutral-2-300 {
        margin-top: 32px;
    }

    .slick-active .bg-neutral-2-300 {
        background-color: #3E5575;
    }

    .slick-track {
        display: flex;
        gap: 16px;
        justify-content: center;
    }

    .slick-dotted.slick-slider {
        margin-bottom: 32px;
    }
}

@media only screen and (min-width: 768px) {

    .slider-kinh-nghiem-lam-viec .slick-track {
        gap: 64px;
    }
}

@media only screen and (min-width: 1280px) {
    .slider-kinh-nghiem-lam-viec .slick-track {
        gap: 38px;
    }


    .slick-dotted.slick-slider {
        margin-bottom: 44px;
    }
}


.slider-khach-hang-noi-gi {
    .bg-dot {
        margin-top: 20px;
    }

    .slick-active .bg-dot {
        background-color: #0684E0;
    }

}