@tailwind base;
@tailwind components;
@tailwind utilities;

@import '../fonts/montserrat/style.css';
@import '../fonts/mulish/style.css';
@import '../fonts/font-icon/style.css';

@layer utilities {
    @variants responsive {

        /* Hide scrollbar for Chrome, Safari and Opera */
        .no-scrollbar::-webkit-scrollbar {
            display: none;
        }

        /* Hide scrollbar for IE, Edge and Firefox */
        .no-scrollbar {
            -ms-overflow-style: none;
            /* IE and Edge */
            scrollbar-width: none;
            /* Firefox */
        }
    }
}

// .menu-items {
//     display: none;
//     /* Ẩn menu mặc định */
// }

// .menu-items.show {
//     display: block;
//     /* Hiển thị menu khi có lớp show */
// }
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown a:hover {
    background-color: #ddd;
}

.show {
    display: block;
}